
<div class="container-fluid">
  <span class="navbar-brand mb-0 app-title">{{ companyName }}</span>
  <button class="btn btn-warning" (click)="logOut()" *ngIf="!(router.url === '/login')">
    <i class="bi bi-person-fill me-2"></i>Log out
  </button>
  <button
    class="navbar-toggler d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
