<div class="patient-card">
  <div class="patient-card-heading">
    <img [src]="imageUrl" class="patient-image" alt="Profile picture" />
    <div class="patient-pulse" [class.animate]="receivedPulse">
      <div class="pulse-rate">{{ pulse }}</div>
    </div>
  </div>
  <div class="patient-container">
    <p class="patient-name">{{ patientName }}</p>
    <p class="patient-id">{{ patientId | number: "3." }}</p>
  </div>
  <div class="patient-container">
    <p class="patient-age-title">Age</p>
    <p class="patient-age">{{ age }} years old</p>
  </div>
  <div class="patient-container">
    <p class="patient-dob-title">Date of Birth</p>
    <p class="patient-dob">{{ birthDate.toDate() | date: "mediumDate" }}</p>
  </div>
  <div class="patient-container">
    <p class="patient-status-title">Status</p>
    <p
      class="patient-status"
      [ngClass]="{
        'text-danger':
          status == 'CRITICALLY HIGH' || status == 'CRITICALLY LOW',
        'text-warning': status == 'N/A',
        'text-success': status == 'FINE'
      }"
    >
      {{ status }}
    </p>
  </div>
  <div class="patient-container">
    <button type="button" class="btn btn-warning" (click)="notifyPatient()">
      ALERT Patient!
    </button>
  </div>
</div>
