<div class="patient-card">
  <div class="patient-card-heading">
    <img
      [src]="imageUrl"
      class="patient-image"
      alt="Profile picture"
      *ngIf="!isEmptyOrUndefined(imageUrl)"
    />
    <div
      class="rounded-circle d-flex align-items-center justify-content-center"
      id="empty-img"
      *ngIf="isEmptyOrUndefined(imageUrl)"
    >
      <p
        class="text-center text-white m-0 fs-2 fw-bold"
        style="letter-spacing: 3px"
      >
        {{ patientInitials }}
      </p>
    </div>
    <div class="patient-pulse" [class.animate]="receivedPulse">
      <div class="pulse-rate">{{ pulse }}</div>
    </div>
  </div>
  <div class="patient-container">
    <p class="patient-name">{{ patientName }}</p>
  </div>
  <div class="patient-container">
    <p class="patient-age-title">Age</p>
    <p class="patient-age">{{ age }} years old</p>
  </div>
  <div class="patient-container">
    <p class="patient-dob-title">Date of Birth</p>
    <p class="patient-dob">{{ birthDate.toDate() | date : "mediumDate" }}</p>
  </div>
  <div class="patient-container">
    <p class="patient-status-title">Status</p>
    <p
      class="patient-status"
      [ngClass]="{
        'text-danger':
          status == 'CRITICALLY HIGH' || status == 'CRITICALLY LOW',
        'text-warning': status == 'N/A',
        'text-success': status == 'FINE'
      }"
    >
      {{ status }}
    </p>
  </div>
  <div class="patient-container">
    <!-- <button type="button" class="btn btn-warning" (click)="notifyPatient()"> -->
    <!-- <button
      type="button"
      class="btn btn-warning"
      data-bs-toggle="modal"
      data-bs-target="#viewpatientmodal"
      (click)="openPatientInfoModal()"
    >
      View Patient
    </button> -->
    <button
      type="button"
      class="btn btn-warning"
      [routerLink]="patientId"
    >
      View Patient
    </button>
  </div>
</div>

<app-view-patient
  class="modal fade"
  id="viewpatientmodal"
  tabindex="-1"
></app-view-patient>
