<div class="patient-card">
  <div class="patient-card-heading">
    <img [src]="imageUrl" class="patient-image" alt="Profile picture" />
    <div class="patient-pulse" [class.animate]="receivedPulse">
      <div class="pulse-rate">{{ pulse }}</div>
    </div>
  </div>
  <div class="patient-container">
    <p class="patient-name">{{ patientName }}</p>
    <p class="patient-id">{{ patientId | number: "3." }}</p>
  </div>
  <div class="patient-container">
    <p class="patient-age-title">Age</p>
    <p class="patient-age">34 years old</p>
  </div>
  <div class="patient-container">
    <p class="patient-dob-title">Date of Birth</p>
    <p class="patient-dob">January 4, 1856</p>
  </div>
  <div class="patient-container">
    <p class="patient-status-title">Status</p>
    <p class="patient-status">FINE</p>
  </div>
  <div class="patient-container">
    <button type="button" class="btn btn-warning" (click)="notifyPatient()">ALERT Patient!</button>
  </div>
</div>
