<div class="d-flex flex-column flex-nowrap h-100 w-100">
  <nav app-header [companyName]="title" class="navbar bg-primary d-print-none"></nav>
  <div class="container-fluid row flex-grow-1 p-0 m-0">
    <div class="row flex-grow-1 p-0 m-0 d-print-flex">
      <nav
        app-sidenav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block sidebar collapse side-nav d-print-none"
        *ngIf="!(_router.url === '/login')"
      ></nav>
      <div class="col-md-9 col-lg-10 ms-sm-auto px-md-4 main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
