<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Patients</h1>
</div>

<div class="d-flex justify-content-start gap-3 flex-wrap">
  <ng-container *ngFor="let patient of patientsInfo">
    <app-patient-card
      [patientId]="patient.Id"
      [patientName]="(patient.Lastname | uppercase) + ', ' + patient.Firstname + ' ' + ( patient.Middlename[0] | uppercase ) + '.'"
      [imageUrl]="patient.ImageUrl"
    ></app-patient-card>
  </ng-container>
</div>
