<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2 text-grey">Patients</h1>
  <div class="d-flex">
    <div>
      <input
        type="text"
        placeholder="Search name of patient"
        class="form-control"
        [(ngModel)]="nameFilter"
        (input)="submitFilter()"
      />
    </div>
    <div>
      <button
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#filterModal"
      >
        <i class="bi bi-filter me-1"></i>Filters
      </button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-start gap-3 flex-wrap">
  <ng-container *ngFor="let patient of filteredPatients">
    <app-patient-card
      [patientInfo]="patient"
      [patientId]="patient.Id"
      [patientInitials]="
        (patient.Firstname[0] | uppercase) + (patient.Lastname[0] | uppercase)
      "
      [patientName]="
        (patient.Lastname | uppercase) +
        ', ' +
        patient.Firstname +
        ' ' +
        (patient.Middlename[0] | uppercase) +
        '.'
      "
      [imageUrl]="patient!.ImageUrl"
      [birthDate]="patient.BirthDate"
    ></app-patient-card>
  </ng-container>
</div>

<div
  class="dropup m-5"
  style="position: fixed; right: 0; bottom: 0; z-index: 1030"
>
  <button
    type="button"
    class="btn btn-primary btn-lg rounded-circle text-white"
    data-bs-toggle="modal"
    data-bs-target="#createPatientModal"
    style="width: 60px; height: 60px"
  >
    <i class="bi bi-person-plus-fill"></i>
  </button>
</div>

<app-create-patient
  class="modal fade"
  id="createPatientModal"
  tabindex="-1"
  aria-labelledby="createPatientModalLabel"
  aria-hidden="true"
></app-create-patient>

<!-- <app-view-patient
  class="modal fade"
  id="viewpatientmodal"
  tabindex="-1"
></app-view-patient> -->
<div class="modal fade" id="filterModal">
  <div class="modal-dialog modal-xs text-black">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">Filter Users</div>
      <div class="modal-body">
        <div class="row g-3">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="MaleRB"
                value="Male"
                name="sex"
                [(ngModel)]="selectedSexFilter"
              />
              <label class="form-check-label" for="MaleRB">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="FemaleRB"
                value="Female"
                name="sex"
                [(ngModel)]="selectedSexFilter"
              />
              <label class="form-check-label" for="FemaleRB">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="BothRB"
                value="Both"
                name="sex"
                [(ngModel)]="selectedSexFilter"
              />
              <label class="form-check-label" for="BothRB">Both</label>
            </div>
          </div>
        </div>
        <legend class="col-form-label col-sm-2 pt-0">Age</legend>
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="MaleCB"
              value="Exact"
              name="age"
              [(ngModel)]="selectedAgeFilter"
            />
            <label class="form-check-label" for="AgeExactCB">Exact</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="FemaleCB"
              value="Range"
              name="age"
              [(ngModel)]="selectedAgeFilter"
            />
            <label class="form-check-label" for="AgeRangeCB">Range</label>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-floating mt-2" *ngIf="selectedAgeFilter === 'Exact'">
            <input
              type="number"
              class="form-control"
              id="AgeTb"
              [(ngModel)]="exactAgeFilter"
              placeholder="Exact Age"
            />
            <label for="AgeTb">Exact Age</label>
          </div>
          <div class="row mt-2">
            <div
              class="form-floating col-4"
              *ngIf="selectedAgeFilter === 'Range'"
            >
              <input
                type="number"
                class="form-control"
                id="AgeFromTb"
                [(ngModel)]="startAgeFilter"
                placeholder="From"
              />
              <label for="AgeFromTb">From</label>
            </div>
            <div
              class="form-floating col-4"
              *ngIf="selectedAgeFilter === 'Range'"
            >
              <input
                type="number"
                class="form-control"
                id="AgeToTb"
                [(ngModel)]="endAgeFilter"
                placeholder="To"
              />
              <label for="AgeToTb">To</label>
            </div>
          </div>
        </div>
        <legend class="col-form-label col-sm-2 pt-0">Conditions</legend>
        <div class="col-sm-10">
          <div class="form-group">
            <div *ngFor="let condition of conditions" class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                [id]="condition.name"
                [(ngModel)]="condition.checked"
                (change)="onChange(condition)"
              />
              <label class="form-check-label" [for]="condition.name">{{
                condition.name
              }}</label>
            </div>
          </div>
          <div class="form-floating mt-2" *ngIf="checkOtherCondition()">
            <textarea
              class="form-control"
              placeholder="Other Conditions"
              id="conditions"
              [(ngModel)]="otherConditions"
              style="height: 100px"
            ></textarea
            ><label for="conditions"
              >Other Conditions (Separate by comma)</label
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="clearFilters()">
          <i class="bi bi-filter me-2"></i>Clear Filters
        </button>
        <button class="btn btn-primary" (click)="submitFilter()">
          <i class="bi bi-filter me-2"></i>Submit Filters
        </button>
      </div>
    </div>
  </div>
</div>
