/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

$primary: #4FAEA9;
$body-color: #F7F7FF;
$warning: #f1b443;

// $theme-colors: (
//   "primary": $main-color,
//   "warning": #f1b443
// );

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

.btn-primary {
    color: white;
}

.form-control {
    color: rgb(24, 24, 24) !important;
}

.app-title {
    color: white !important;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.35em;
}

.side-nav {
    background-color: white !important;
}
.main-container {
    background-color: $body-color !important;
}